In [3]:
import numpy as np
import pandas as pd

In [4]:
data1 = pd.read_csv('/content/StudentsPerformance-CT & Dispersion.csv')

In [5]:
data1.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [6]:
data1.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

1. ## Number of Males and Females participated

In [7]:
data1['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

2. ## About Parental level of Education

In [8]:
data1['parental level of education'].describe()

count             1000
unique               6
top       some college
freq               226
Name: parental level of education, dtype: object

In [9]:
data1['parental level of education'].mode()

0    some college
Name: parental level of education, dtype: object

In [10]:
data1.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

3. ## The Most Average for Math, reading & writing

In [11]:
import statistics as stat

In [12]:
## i) Based on Gender
data1.groupby('gender')['math score'].mean()

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [13]:
data1.groupby('gender')['reading score'].mean()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [14]:
data1.groupby('gender')['writing score'].mean()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

In [15]:
## ii) Based on Test Preparartion Course
data1.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [16]:
data1.groupby('test preparation course')['reading score'].mean()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [17]:
data1.groupby('test preparation course')['writing score'].mean()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

4. ## Scoring Variation

In [18]:
## i) Based on Gender
data1.groupby('gender')['math score'].std()

gender
female    16.029928
male      14.556411
Name: math score, dtype: float64

In [19]:
data1.groupby('gender')['reading score'].std()

gender
female    14.411018
male      14.149594
Name: reading score, dtype: float64

In [20]:
data1.groupby('gender')['writing score'].std()

gender
female    14.844842
male      14.227225
Name: writing score, dtype: float64

In [21]:
## ii) Based on Test Preparation Course
data1.groupby('test preparation course')['math score'].std()

test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

In [22]:
data1.groupby('test preparation course')['reading score'].std()

test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

In [23]:
data1.groupby('test preparation course')['writing score'].std()

test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

5. ## To give bonus points to the top 25% of students based on math score

In [26]:
top_students = data1['math score'].quantile(0.75)

In [25]:
top_students

77.0